/*body of html page*/
body {
	/*width: 1200px;*/
	background: url("../images/concrete-texture.png");
	margin: 0 auto;
	padding-left: 100px;
}


.site {
	width: 960px;
}

/*div of nav header*/
.header {
	background-color: #ffffff;
	border-color: #cccccc;
	margin-bottom: 20px;
	margin-top: 0px;
	position: relative;
	height: 100px;
	width: 960px
	
}

/*h1 tag inside nav header*/
#nav-header {
	background-color: #4aaaa5;
	margin-top: 0px;
	margin-left:100px;
	color: #ffffff;
	width: 200px;
	bottom: 0px;
	position: absolute;
	margin-bottom: 0px;

}

/*ul in nav bar*/
#nav{
	float: right;
	margin-right: 400px;
	margin-top: 50px;
	/*float: right;*/

}





.list {
list-style-type: none;
margin: 0px;
padding: 0px;
display: inline;

}



h2 {
	color: #4aaaa5;
}


.main_content {
	background-color: #ffffff;
	float: left;
	width: 610px;
	margin-bottom: 40px;
	margin-right: 40px;
	padding: 20px;
	
}


.side_bar {
	width: 270px;
	background-color: #ffffff;
	float: left;
	

}


.connect_with_me {
	width:60px;
	height: 60px;
}









.footer {
	clear: both;
	height: 150px;
	text-align: center;
	vertical-align: content;
	line-height: 100px;
	background-color: #666666;
	width: 960px;
}



input {
	width: 100%;
	margin: 5px;

}

#contact {
	margin: 5px;
}

#image {

	float: left;
	width: 295px;
	height: 176px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#image2 {

	float: left;
	width: 295px;
	height: 176px;
}

#image3 {

	float: left;
	width: 295px;
	height: 176px;
	margin-right: 20px;
	margin-bottom: 20px;
}


#image4 {

	float: left;
	width: 295px;
	height: 176px;
}

#image5 {

	float: left;
	width: 295px;
	height: 176px;
	margin-right: 20px;
}



#img1 {
	position: absolute;
	width: 180px;
	top: 260px;
	background-color: silver;
	text-align: center;
}







/*#nav li:not(:first-child):before {
    content: " | ";
}*/


/*#navigation-bar {
	float: right;

}*/

/*#navigation-bar > ul {
	display: block
}*/


